<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>开发心得-总览</title>
    <!-- Bootstrap Styles-->
    <link href="/assets-pc/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/assets-pc/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/assets-pc/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/assets-pc/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='/assets-pc/css/font.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <!-- top navbar -->
        <nav id="top-navbar" class="navbar navbar-default top-navbar" role="navigation">
            
        </nav>
        <!--/. NAV TOP  -->
        <nav id="left-navbar" class="navbar-default navbar-side" role="navigation">
            
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-header">
                            <small>这些年的开发心得</small>
                        </h2>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                简说自己
                            </div>
                            <div class="panel-body" style="cursor:pointer;" onclick="window.open('about-me','_self')">
                                <p>做开发已经有四年时间了，却很少去写自己的技术博客。先简单说说自己的开发路。本人2011年底开始工作，实习以及毕业后就在一家日本公司NEC（上海）工作，开发用的是VB.NET...</p>
                            </div>
                            <div class="panel-footer">
                                <a href="about-me"><i class="fa fa-toggle-on"></i>See More >></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                Linux开始
                            </div>
                            <div class="panel-body" style="cursor:pointer;" onclick="window.open('start-linux','_self')">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>
                            <div class="panel-footer">
                                <a href="start-linux"><i class="fa fa-toggle-on"></i>See More >></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                从github说起
                            </div>
                            <div class="panel-body" style="cursor:pointer;" onclick="window.open('start-github','_self')">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>
                            <div class="panel-footer">
                                <a href="start-github"><i class="fa fa-toggle-on"></i>See More >></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            <h1>Jumbotron</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.</p>
                            <p>
                                <a class="btn btn-primary btn-lg" role="button">Learn more</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div>
        <footer class="footer-style">
            <div style="margin-top: 10px;">QQ：1289927096 微信：yycx0328 欢迎指导.</div>
        </footer>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets-pc/js/jquery-1.10.2.js"></script>
    <!-- load nav Js -->
    <script src="/assets-pc/js/load.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets-pc/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/assets-pc/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/assets-pc/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/assets-pc/js/morris/morris.js"></script>
    <script src="/assets-pc/js/easypiechart.js"></script>
    <script src="/assets-pc/js/easypiechart-data.js"></script>
    <!-- Custom Js -->
    <script src="/assets-pc/js/custom-scripts.js"></script>
</body>

</html>
