<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>简说自己</title>
    <!-- Bootstrap Styles-->
    <link href="/assets-pc/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/assets-pc/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/assets-pc/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/assets-pc/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='/assets-pc/css/font.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <!-- top navbar -->
        <nav id="top-navbar" class="navbar navbar-default top-navbar" role="navigation">
        </nav>
        <!--/. NAV TOP  -->
        <nav id="left-navbar" class="navbar-default navbar-side" role="navigation">
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <strong>简说自己</strong>
                                </div>
                                <h4><small>
                                    <p style="text-indent:2em;">
                                        做开发已经有四年时间了，却很少去写自己的技术博客。先简单说说自己的开发路。</p>
                                    <p style="text-indent:2em;">
                                        本人2011年底开始工作，实习以及毕业后就在一家日本公司NEC（上海）工作，开发用的是VB.NET，因为在学校的时候挺少去做.net的项目，就觉得挺不习惯的，还好有大师指导，很快上手了，我不知道别家日企怎么样，我待的这家NEC加班还挺严重的，每天都到晚上10点多，那时候还挺难接受的，就通过不断的提升寻找新的发展机遇，后面自己技术上也有了一些提升，便打算离开那家公司。</p>
                                    <p style="text-indent:2em;">
                                        2013年10月份的时候就找了一家新公司-盛大，盛大是.net体系的，便也符合自己的技术方向，在那里做app服务端的数据接口服务，因为NEC做的是传统的PC端Client应用和Web应用，对移动互联网这一块是完全的空白，不过毕竟是有过近两年开发经验的程序员，而且语言体系还是.net，上手起来还是比较快的。在里面呆了差不多两个月的时间，部门经理带着我们部门的成员自己创业了（盛大好多部门经理都走的是这条路）。我们一同17个人（三个创始人），一开始做的还是不错的，2014年的时候创业的高潮，而且融资很火爆，公司也成功的完成了天使轮融资和A轮融资，可后来我们一起出来的创业的这群人最后只剩下4个人了（当然是有新人加进来的了），有老板的原因，也有员工个人的原因，总之各种因素，最后都陆陆续续的离开了，就连三个创始人也各自分家了。到后来我也觉得没什么前途，就准备换一家新公司。</p>
                                    <p style="text-indent:2em;">
                                        由于在之前的创业公司，工作挺忙的，压力也挺大，就想找一份轻松点的工作，到2016年4月份的时候就换到了现在这家公司-中国东方航空股份有限公司。国企里面工作的确相对轻松，我也就有更多的时间做点自己想做的事，于是就研究起了前端一些技术。</p>
                                    <p style="text-indent:2em">
                                        一直对前端技术情有独钟，一者因为工作忙给自己找了借口，二者总是不知道从何处下手，就一直没认真的去实践，现在比较流行的一些前端技术，对我来说的确有点陌生，毕竟公司做前端都是有专门工程师，自己很少接触也就懒了去尝试，现在时间有大把大把的，也就开始研究起来，希望于人于己都有益处，有问题的地方还请多多指导，多多交流，谢谢！</p>
                                </small></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div>
        <footer class="footer-style">
            <div style="margin-top: 10px;">QQ：1289927096 微信：yycx0328 欢迎指导.</div>
        </footer>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets-pc/js/jquery-1.10.2.js"></script>
    <!-- load nav Js -->
    <script src="/assets-pc/js/load.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets-pc/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/assets-pc/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/assets-pc/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/assets-pc/js/morris/morris.js"></script>
    <script src="/assets-pc/js/easypiechart.js"></script>
    <script src="/assets-pc/js/easypiechart-data.js"></script>
    <!-- Custom Js -->
    <script src="/assets-pc/js/custom-scripts.js"></script>
</body>

</html>
