<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首页</title>
    <!-- Bootstrap Styles-->
    <link href="/assets-pc/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/assets-pc/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/assets-pc/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/assets-pc/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='/assets-pc/css/font.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <!-- top navbar -->
        <nav id="top-navbar" class="navbar navbar-default top-navbar" role="navigation">
            
        </nav>
        <!--/. NAV TOP  -->
        <nav id="left-navbar" class="navbar-default navbar-side" role="navigation">
            
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <!-- content code here -->
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-header">
                            <small>技术总览</small>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default"> 
                            <div class="panel-body">
                                <div class="alert alert-success">
                                    <strong>Html基础</strong>
                                </div>
                                <h4><a href="#">HTML5</a> <small>HTML5 是下一代的 HTML。 本教程向您讲解 HTML5 中的新特性。每一章中的实例 通过我们的 HTML 编辑器,您能够编辑 HTML,然后点击按钮来查看结果。</small></h4> 
                                <h4><a href="#">CSS3</a> <small>CSS 用于控制网页的样式和布局，CSS3 是最新的 CSS 标准。</small></h4>
                                <h4><a href="#">JavaScript</a> <small>JavaScript 是世界上最流行的脚本语言，JavaScript 是属于 web 的语言，它适用于 PC、笔记本电脑、平板电脑和移动电话。</small></h4>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default"> 
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <strong>Html基础</strong>
                                </div>
                                <h4><a href="#">HTML5</a> <small>HTML5 是下一代的 HTML。 本教程向您讲解 HTML5 中的新特性。每一章中的实例 通过我们的 HTML 编辑器,您能够编辑 HTML,然后点击按钮来查看结果。</small></h4> 
                                <h4><a href="#">CSS3</a> <small>CSS 用于控制网页的样式和布局，CSS3 是最新的 CSS 标准。</small></h4>
                                <h4><a href="#">JavaScript</a> <small>JavaScript 是世界上最流行的脚本语言，JavaScript 是属于 web 的语言，它适用于 PC、笔记本电脑、平板电脑和移动电话。</small></h4>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default"> 
                            <div class="panel-body">
                                <div class="alert alert-warning">
                                    <strong>Html基础</strong>
                                </div>
                                <h4><a href="#">HTML5</a> <small>HTML5 是下一代的 HTML。 本教程向您讲解 HTML5 中的新特性。每一章中的实例 通过我们的 HTML 编辑器,您能够编辑 HTML,然后点击按钮来查看结果。</small></h4> 
                                <h4><a href="#">CSS3</a> <small>CSS 用于控制网页的样式和布局，CSS3 是最新的 CSS 标准。</small></h4>
                                <h4><a href="#">JavaScript</a> <small>JavaScript 是世界上最流行的脚本语言，JavaScript 是属于 web 的语言，它适用于 PC、笔记本电脑、平板电脑和移动电话。</small></h4>  
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div>
        <footer class="footer-style">
            <div style="margin-top: 10px;">QQ：1289927096 微信：yycx0328 欢迎指导.</div>
        </footer>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets-pc/js/jquery-1.10.2.js"></script>
    <!-- load nav Js -->
    <script src="/assets-pc/js/load.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets-pc/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/assets-pc/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/assets-pc/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/assets-pc/js/morris/morris.js"></script>
    <script src="/assets-pc/js/easypiechart.js"></script>
    <script src="/assets-pc/js/easypiechart-data.js"></script>
    <!-- Custom Js -->
    <script src="/assets-pc/js/custom-scripts.js"></script>
</body>

</html>
