<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="loading">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="yycx0328个人技术博客">
    <meta name="author" content="yycx0328" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <script>
    var logined = 0
    </script>
    <title>简说自己</title>
</head>

<body>
    <div id="menu">
        <div class="search_wrap">
            <form action="" method="get">
                <input type="text" name="search" class="search_input" placeholder="关键字查找" />
                <i class="reset_input"><i></i></i>
            </form>
        </div>
        <ul id="ul-nav-lst">
            <!-- load from load.js -->
        </ul>
    </div>
    <div id="user">
        <div class="account">
            <div class="login_b_t">
                <div class="pd10">
                    <div class="fl">还没有账号<a id="reg_now" href="" onclick="return false;">立即注册</a></div>
                    <div class="fr"><a href="#">忘记密码?</a></div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="pd10">
            <form method="post" action="">
                <div class="login_b_i">
                    <div class="login_input">
                        <div class="login_user">
                            <input type="text" name="email" placeholder="邮箱/帐号" /><i></i></div>
                        <div class="login_password">
                            <input type="password" name="password" placeholder="密码" /><i></i></div>
                    </div>
                </div>
                <a class="login_submit">登录</a>
            </form>
            <div class="login_quick">
                <p>用第三方帐号直接登录</p>
                <a href="http://www.17sucai.com/oauth/weibo/login" id="weibo_app"><span><i></i>微博帐号登录</span></a>
                <a href="http://www.17sucai.com/oauth/qq/login" id="qq_connect"><span><i></i>QQ&nbsp;&nbsp;帐号登录</span></a>
            </div>
        </div>
    </div>
    <div id="header" class="head">
        <div class="wrap">
            <i class="menu_back"><a href="index.html"></a></i>
            <div class="title">
                <span class="title_d"><p>简说自己</p></span>
                <div class="clear"></div>
            </div>
            <i class="menu_share"></i>
        </div>
    </div>
    <div id="container">
        <div id="content">
            <div style="height:1px"></div>
            <div id="works">
                <div class="pd5">
                    <div class="list_info_i" style="margin-top:5px;">
                        <dl class="list_info_views">
                            <dt></dt>
                            <dd>7416</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl class="list_info_comment">
                            <dt></dt>
                            <dd>5</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl class="list_info_like">
                            <dt></dt>
                            <dd>8</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl class="works_view">
                            <dt></dt>
                            <dd>8天前</dd>
                            <div class="clear"></div>
                        </dl>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="article_ct">
                        <p style="text-indent:2em;">
                            做开发已经有四年时间了，却很少去写自己的技术博客。先简单说说自己的开发路。</p>
                        <p style="text-indent:2em;">
                            本人2011年底开始工作，实习以及毕业后就在一家日本公司NEC（上海）工作，开发用的是VB.NET，因为在学校的时候挺少去做.net的项目，就觉得挺不习惯的，还好有大师指导，很快上手了，我不知道别家日企怎么样，我待的这家NEC加班还挺严重的，每天都到晚上10点多，那时候还挺难接受的，就通过不断的提升寻找新的发展机遇，后面自己技术上也有了一些提升，便打算离开那家公司。</p>
                        <p style="text-indent:2em;">
                            2013年10月份的时候就找了一家新公司-盛大，盛大是.net体系的，便也符合自己的技术方向，在那里做app服务端的数据接口服务，因为NEC做的是传统的PC端Client应用和Web应用，对移动互联网这一块是完全的空白，不过毕竟是有过近两年开发经验的程序员，而且语言体系还是.net，上手起来还是比较快的。在里面呆了差不多两个月的时间，部门经理带着我们部门的成员自己创业了（盛大好多部门经理都走的是这条路）。我们一同17个人（三个创始人），一开始做的还是不错的，2014年的时候创业的高潮，而且融资很火爆，公司也成功的完成了天使轮融资和A轮融资，可后来我们一起出来的创业的这群人最后只剩下4个人了（当然是有新人加进来的了），有老板的原因，也有员工个人的原因，总之各种因素，最后都陆陆续续的离开了，就连三个创始人也各自分家了。到后来我也觉得没什么前途，就准备换一家新公司。</p>
                        <p style="text-indent:2em;">
                            由于在之前的创业公司，工作挺忙的，压力也挺大，就想找一份轻松点的工作，到2016年4月份的时候就换到了现在这家公司-中国东方航空股份有限公司。国企里面工作的确相对轻松，我也就有更多的时间做点自己想做的事，于是就研究起了前端一些技术。</p>
                        <p style="text-indent:2em">
                            一直对前端技术情有独钟，一者因为工作忙给自己找了借口，二者总是不知道从何处下手，就一直没认真的去实践，现在比较流行的一些前端技术，对我来说的确有点陌生，毕竟公司做前端都是有专门工程师，自己很少接触也就懒了去尝试，现在时间有大把大把的，也就开始研究起来，希望于人于己都有益处，有问题的地方还请多多指导，多多交流，谢谢！</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="us_panel_menu">
        <div class="us_panel_msk"></div>
        <div class="us_panel_menu_t">
            <table width="100%" cellspacing="0">
                <tr>
                    <td valign="top" class="us_panel_menu_index">
                        <a href="#"><i></i><span>首页</span></a>
                    </td>
                    <td valign="top" class="us_panel_menu_designer">
                        <a href="#"><i></i><span>设计师</span></a>
                    </td>
                    <td valign="top" class="us_panel_menu_help">
                        <a href="#"><i></i><span>帮帮忙</span></a>
                    </td>
                    <td valign="top" class="us_panel_menu_about">
                        <a href="#"><i></i><span>关于</span></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="us_panel2">
        <table width="100%" height="100%" cellspacing="0" border="0">
            <tr>
                <td class="us_panel_like"><i></i><span>喜欢(<em>8</em>)</span></td>
                <td class="us_panel_menu">
                    <div class="arrow_top"></div><i></i>
                    <div class="us_panel_menu_left"></div>
                    <div class="us_panel_menu_right"></div>
                </td>
                <td class="us_panel_post"><i></i><span>评论(<em>5</em>)</span></td>
            </tr>
        </table>
    </div>
    <div id="add_newpost">
        <div class="add_newpost">
            <table width="100%" height="100%" cellspacing="5">
                <tr>
                    <td class="add_newpost_cancel">取消</td>
                    <td class="add_newpost_post">评论</td>
                </tr>
            </table>
        </div>
        <div class="newpost_w">
            <div class="pd10">
                <div class="newpost_w_t">
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </div>
    <div id="add_favorite">
        <div class="hd">
            <div class="wrap">
                <div class="fl">
                    <span>喜欢的分类</span>
                </div>
                <div class="fr"></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="ct">
            <div class="wrap">
                <div class="created_cate">
                    <div class="created_cate_add">添加</div>
                    <div class="created_cate_ipt">
                        <input type="text" placeholder="创建分类" />
                    </div>
                    <div class="clear"></div>
                </div>
                <ul id="add_favorites_choose">
                </ul>
            </div>
        </div>
    </div>
    <div id="share">
        <div class="share_msk"></div>
        <div class="share">
            <table width="100%" cellspacing="10" border="0">
                <tr>
                    <td class="sina">
                        <a href="#" target="_blank"></a>
                    </td>
                    <td class="guangbo">
                        <a href="#" target="_blank"></a>
                    </td>
                    <td class="facebook">
                        <a target="_blank" href="#"></a>
                    </td>
                    <td class="twitter">
                        <a target="_blank" href="#"></a>
                    </td>
                </tr>
            </table>
            <div class="pd10">
                <div class="cancel_share"><a href="" onclick="return false;">取消分享</a></div>
            </div>
        </div>
    </div>
    <div id="reg_index">
        <div class="reg_bar">
            <div class="wrap">
                <span class="fl"><i></i>注册帐号</span>
                <i class="reg_bar_close fr"></i>
                <div class="clear"></div>
            </div>
        </div>
        <div class="wrap reg_ct">
            <p>您可以选择以下第三方帐号直接登录uehtml
                <br />一分钟完成注册</p>
            <a href="#" id="weibo_app"><span><i></i>微博帐号登录</span></a>
            <a href="#" id="qq_connect"><span><i></i>QQ&nbsp;&nbsp;帐号登录</span></a>
        </div>
    </div>
    <div class="loading_dark"></div>
    <div id="loading_mask">
        <div class="loading_mask">
            <ul class="anm">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <script language="javascript" src="js/zepto.min.js"></script>
    <script language="javascript" src="js/fx.js"></script>
    <script language="javascript" src="js/script.js"></script>
</body>

</html>
